<%= simple_form_for(@branch, :validates => true) do |f| %>
  <% if @branch.errors.any? %>
    <div>
      <p style="color:red; text-align:center;">Check your inputs</p>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Title %><br>
    <%= f.text_field :Title, :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :Text %><br>
    <%= f.text_area :Text, :class => "form-control" %>
  </div>

  <div class="field">
    <%= f.label :reaction %><br>
    <%= f.input :reaction, collection: ['Agree', 'Disagree'], as: :radio_buttons, label: false, :id => "reactionsGroup"  %>
  </div>

  <div class="actions" style="text-align:center;">
     <%= f.submit  'Add the branch', :class => 'btn btn-primary' %>
  </div>

<% end %>
