<%= div_for i do %>
  <div id="branchesContainer" class="well row">
            <div class="col-md-2">

            <%= image_tag( get_user(i.author).avatar.url(:thumb), :id => i.id ,:class => "img-thumbnail") %>
              
              <h5>              
                <a id="authorLink" href="<%=getAuthorProfile(i.author)%>">
                 <%= i.author %>
                </a>
              </h5>

              <% if i.reaction == "Agree"%>
                  <span class="label label-success">Agreed</span>  
              <% elsif i.reaction == "Disagree"%>
                  <span class="label label-danger">Disagreed</span>
              <% end %> 
            </div>
            <div class="col-md-10">
              <div class="row" style="text-align:left;">

                <a href="/branches/<%= i.id %>" style="font-weight:bold; font-size:20px;">
                  <%= i.Title%>
                </a>
              </div>
              
              <p style="text-align:left;">
                 <%= get_text(i.Text, i.id) %>                
              </p>

              <div style="text-align:left;">
                Written    
                <em><%= time_ago_in_words(i.created_at)%> ago</em>
              </div>
              
              <div class="row">
                  <div class="col-md-6">
                    
                    <% if user_signed_in? %>
                      
                      <%= link_to like_branch_path(i), method: :put, :remote => true, :id => "btnLike-" + i.id.to_s do%>
                         <button class="btn btn-primary" style="color:white; font-weight:bold;">
                          <span style="text-align:center;" aria-hidden="true">
                          <%= image_tag "glyphicons_free/glyphicons/png/glyphicons-344-thumbs-up.png" %>
                          </span>

                          <span class="badge">
                            <%= i.get_upvotes.size%>
                          </span>
                        </button> 
                      <%end%>
                      
                     <%= link_to unlike_branch_path(i), method: :put, :remote => true, :id => "btnUnlike-" + i.id.to_s do%>
                       <button class="btn btn-primary" style="color:white; font-weight:bold;">
                         
                        <span style="text-align:center;" aria-hidden="true">
                         <%= image_tag "glyphicons_free/glyphicons/png/glyphicons-345-thumbs-down.png" %>
                        </span>

                        <span id="badge" class="badge">
                         <%= i.get_downvotes.size%>
                        </span>
                      </button>
                     <% end %>
                    <% end %>

                  </div>
                                          
                  <div class="col-md-6">
                    
                    <% if i.author == current_user.name or current_user.is_admin == true %>
                      
                      <%= link_to "Edit", branches_edit_path(i.id), :class=> "btn btn-success", :style => "font-weight:bold; color:white; width:70px; text-align:center;"%>
                      
                       <%= link_to "Destroy", branches_destroy_path(i.id), :class=> "btn btn-danger", :style=>"color:white; font-weight:bold; width:70px; text-align:center;"%>
                     
                    <% end %>

                  </div>
              </div> 
            </div>
          
        </div>
<% end %>