$(function(){
	$("#branchesLister-<%= @new_id%>").prepend("<h1>Created</h1>");
	//$("#branchesLister-<%= @new_id%>").prepend('<%= render :partial => "branches/show", locals: {:i => @branch} %>');
});
