<div class="col-md-3"></div>
<div class="col-md-6 well">
	<h1>Editing Branch</h1>
	<%= render 'form' %>

	<%= link_to 'Show', @branch %> |
	<%= link_to 'Back', branches_path %>
</div>
<div class="col-md-3"></div>