<div class="col-md-3"></div>

<div class="col-md-6 well centralizeVertical">
  <p id="notice"><%= notice %></p>
  <h1>Listing Branches</h1>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Text</th>
        <th>New</th>
        <th>Reaction</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @branches.each do |branch| %>
        <tr>
          <td><%= branch.Title %></td>
          <td><%= branch.Text %></td>
          <td><%= branch.new_id %></td>
          <td><%= branch.reaction %></td>
          <td><%= link_to 'Show', branch %></td>
          <td><%= link_to 'Edit', edit_branch_path(branch) %></td>
          <td><%= link_to 'Destroy', branch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Branch', new_branch_path %>
</div>

<div class="col-md-3"></div>