
<div class="col-md-4">
	<div class="col-md-1"></div>
	<div class="col-md-11">
		<div style="height:100px;"> </div>
		<p>
		  <strong>Reaction:</strong>
		  <%= @branch.reaction %>
		</p>

		<% if user_signed_in? %>
			<% if current_user.name == @branch.author %>
				<%= link_to 'Edit', edit_branch_path(@branch), :class => "btn btn-primary", :style=>"font-weight:bold; color:white;" %>
			<% end %>
		<% end %>
	</div>
</div>

<div class="col-md-6 well centralizeVertical">
	<h1><%= @branch.Title %></h1>
	<h4>
      A response to:  
	  <%= get_title(@branch.id) %>
	</h4>

	<p>
	  &nbsp;<%= @branch.Text %>
	</p>
</div>

<div class="col-md-2"></div>
