
<script type="text/javascript">
$(document).ready(function () {
   //$("#subcategory_Description").tokenInput("/url/to/your/script/");

   $('#subcategory_Description').tagsinput({
  		confirmKeys: [44]
	});
   
   <% if !@description.blank?%>
	   <% for d in @description.split(",") %>
	   	$('#subcategory_Description').tagsinput('add', '<%=d%>');
	   <%end%>
   <%end%>
});

</script>


<%= simple_form_for(@subcategory) do |f| %>
	<%= f.error_notification %>

	<div class="form-inputs">
	    <%= f.input :Name %>
	</div>

	<div class="field">
		<p>
			<strong>Tags</strong>
		</p>

		<%= f.text_area :Description, 'data-role'=>'tagsinput', :class=>"form-control"%>
		
	</div>

	<div class="field">
       <%= f.association :category, collection: @categories_name %>
    </div>
    
	<div class="form-actions" style="text-align:center;">
	    <%= f.button :submit, :class=> "btn btn-primary" %>
	</div>
<% end %>
