<% content_for :button_set do %>
       <%= render 'layouts/loggedSet' %>              
<%end%>

<script type="text/javascript">
  $(function(){
      $(".description").each(function() {
        var html = $(this).html().replace(/,/g, "<br>");
        $(this).html(html);
      });

  });

</script>


<div class="col-md-1"></div>
<div class="col-md-10">

  <div class="well" style="text-align:center; margin-top:10px;">
  <%= link_to 'New Subcategory', new_subcategory_path, :class=>"btn btn-primary", :style => "color:white; font-weight:bold;" %>
  </div>


  <div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#welcome" aria-controls="home" role="tab" data-toggle="tab">
      Welcome
    </a>
    </li>
    
    <% for c in @categories%>
      <li role="presentation">
        <a href="#<%=c.Name%>" aria-controls="<%=c.Name%>" role="tab" data-toggle="tab">
          <%=c.Name.capitalize%>
        </a>
      </li>
    <% end %>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active well" id="welcome">
      <h3>Welcome, <mark><%= current_user.name%></mark></h3>
      <p>
        &nbsp;Here we can help Ana to cluster news better. Categories are a broad group of content, that itself can hold many subgroups. For example, the politic category holds subjects from international to local issues. 


      </p>
    </div>

    <% for c in @categories%>
      <div role="tabpanel" class="tab-pane well" id="<%= c.Name %>">
            <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% c.subcategories.each do |subcategory| %>
                <tr>
                  <td style="text-align:center;">
                   <h3><%= subcategory.Name %></h3>
                  </td>
                  <td class="description" style="text-align:center;"><%= subcategory.Description%>
                  </td>
              
                  <td>
                    <div style="text-align:center;">
                  <%= link_to 'Edit', edit_subcategory_path(subcategory), :class => "btn btn-success", :style=> "color:white; font-weight:bold;" %>
                  
                  <%= link_to 'Destroy', subcategory, method: :delete, data: { confirm: 'Are you sure?'}, :class => "btn btn-danger", :style=> "color:white; font-weight:bold;" %>
                   </div>
                </td>
                </tr>
              <% end %>
            </tbody>
          </table>
      </div>
    <% end %>

  </div>

</div>
</div>
<div class="col-md-1"></div>