<% content_for :button_set do %>
       <%= render 'layouts/loggedSet' %>              
<%end%>

<div class="col-md-2"></div>
<div class="col-md-8 well">
	<h1>New Subcategory</h1>
	<%= render 'form' %>

	<%= link_to 'Back', subcategories_path %>
</div>
<div class="col-md-2"></div>
