<% content_for :button_set do %>
       <%= render 'layouts/loggedSet' %>              
<%end%>

<div class="col-md-2"></div>
<div class="col-md-8 well">
	<p id="notice"><%= notice %></p>
	<p>
	  <strong>Name:</strong>
	  <%= @subcategory.Name %>
	</p>

	<p>
	  <strong>Description:</strong>
	  <%= @subcategory.Description %>
	</p>

	<p>
	  <strong>Category:</strong>
	  <%= @subcategory.category_id %>
	</p>

	<%= link_to 'Edit', edit_subcategory_path(@subcategory) %> |
	<%= link_to 'Back', subcategories_path %>
</div>
<div class="col-md-2"></div>