<div class="row">
				<div class="col-md-4"></div>
					<ul class="col-md-2 footerNav">
						<li>
							<a style="color:white;" href="/plataform/about">	About
							</a>
						</li>
						<li>
							<a style="color:white;" class="footerA" href="/plataform/team">
								Team
							</a>
						</li>
						<li>
							<a style="color:white;" class="footerA" href="/plataform/jobs">
								Jobs
							</a>
						</li>
						<li>
							<a style="color:white;" class="footerA" href="/plataform/contact">
								Contact
							</a>
						</li>
					</ul>
				<div class="col-md-2">
				    
				</div>
				<div class="col-md-4"></div>
				</div>
				<div class="row">
				<span class="footerLabel">©Zogue- All rights reserved</span>
			</div>