
<!--http://stackoverflow.com/questions/2165665/how-do-i-get-the-current-absolute-url-in-ruby-on-rails -->
<%= image_tag(current_user.avatar.url(:thumb), :class => "img-circle", :style=> "height:70px;") %>

<% if request.fullpath != news_index_path %>
   <button onclick="window.location.href='/news'" class="btn btn-primary">
	    <strong>Go to Newspaper</strong>
   </button>
<%else%>
	
   <button onclick="window.location.href='/news'" class="btn btn-primary disabled">
	    <strong>Go to Newspaper</strong>
   </button>

<% end %>


<button type="button" class="btn  btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	<strong>Account</strong> <span class="caret"></span>
</button>  


<ul class="dropdown-menu dropdown-menu-right">
	<li class="list-group-item" style="text-align:center;">
		<strong>
			<a href="/profile/<%= @user_id %>">
				<%=@user_name%>
			</a>
		</strong>
	</li>
			
	<li class="list-group-item" style="text-align:center;">
		<%= link_to("Clipping", clips_index_path)%>
	
	</li>
		
	<li class="list-group-item" style="text-align:center;">
		<%= link_to("Home", home_path)%>
	</li>

		
	<li class="list-group-item list-group-item-danger" style="text-align:center;">	
		 <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>  
	</li>  
</ul>        