<% flash.each do |key, value| %>
  <div class="alert alert-warning">
    <a href="#" data-dismiss="alert" class="close">×</a>
    <ul>
      <li style="text-align:center;">
        <%= value %>
      </li>
    </ul>
  </div>
<% end %>