<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Zogue</title>
 
  <%= favicon_link_tag 'fav.png' %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "jquery.bxslider" %>


  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag :defaults, "rails.validations", "rails.validations.custom"%>
  <%= javascript_include_tag "jquery.bxslider"%>
  

  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"%>
  <%= javascript_include_tag "jquery.tokeninput"%>
  <%= stylesheet_link_tag "token-input" %>

  <%= javascript_include_tag "bootstrap-tagsinput"%>
  <%= stylesheet_link_tag "bootstrap-tagsinput" %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
	  //Avoid horizontal scrolling
	  var scrollEventHandler = function()
	  {
	  	window.scroll(0, window.pageYOffset)
	  }
	  window.addEventListener("scroll", scrollEventHandler, false);
  </script>
  <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
	 <header class="row">
		<div class="col-md-1"></div>
		<div class="col-md-3" id="logo">
		
		<a href="/news">
		<%= image_tag "logo.png", :alt => "logo", :title => "logo" %>
		</a>

		</div>
		
		<div class="col-md-4">
		</div>
		

		<div class="col-md-4">
			 <div style="margin-top:5px;">
			 	<%= yield :button_set %>      
			 </div>
		</div>		
	</header>

	<main class="row">
		<%= render 'layouts/messages' %>
		<%= yield %>
	</main>

	<footer class="row">
		<%= yield :footer %>
	</footer>
	
</body>
</html>
