<% content_for :button_set do %>
    <% if user_signed_in? %>
       <%= render 'layouts/loggedSet' %>
    <% else %>
      <button onclick="window.location.href='/users/sign_in'" class="col-md-3 btn btn-primary btn-lg" id="enterBtn">
        Enter
      </button>
    <% end %>  
<%end%>

<div class="col-md-3"></div>
<div class="col-md-6 well"> 
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |f| %>
            <%= devise_error_messages! %>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
         <strong>Basic Info</strong>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
               <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, :class => "form-control"  %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="field">
              <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
              <%= f.password_field :password, autocomplete: "off", :class => "form-control"  %>
            </div>

            <div class="field">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control"  %>
            </div>

            <div class="field">
              <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
              <%= f.password_field :current_password, autocomplete: "off", :class => "form-control"  %>
            </div>
             <p>
              <h3>Cancel my account</h3>
              <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => "btn btn-danger", :style => "font-weight:bold; text-align:center;" %>
            </p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <strong>Profile Info</strong>
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
          <div class="form-group">

            <div class="field">
              <%= f.label :name %> <br/>             
              <%= f.text_field :name, :class => "form-control" %>
            </div>
            

            <div class="field">
              <%= f.label :about %> <br/>             
              <%= f.text_area :about, :class => "form-control" %>
            </div>
            
            <div class="field">
             <%= f.label :avatar %>
             <%= f.file_field :avatar, :class => 'form-control' %>
            </div>
          
          </div>
      </div>
    </div>
  </div>

</div>

<p style="text-align:center;">
  <%= f.submit "Update", :class => "btn btn-primary", :style => "font-weight:bold;" %>
</p>
      
 <% end %>

</div>
<div class="col-md-3"></div>