

<div class="col-md-3"></div>
<div class="col-md-6 well">
  <h2>Sign up</h2>

  <%= form_for(resource, :html => {:multipart => true}, :validate=>true, as: resource_name, url: registration_path(resource_name)) do |f| %>
    
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, :class => "form-control" %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, :class => "form-control" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control" %>
    </div>

    <div class="field">
      <%= f.label :about %><br />
      <%= f.text_area :about, :class => "form-control" %>
    </div>

    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <%= recaptcha_tags %>
      </div>
      <div class="col-md-3"></div>
    </div>
    <p>
      Clicking in the Sign Up button you are automaticaly accepting our
      <a href="#">terms of use and service</a>
    </p>
    
    <div class="actions" style="text-align:center;">
      <%= f.submit "Sign up", :class => "btn btn-primary" %>
    </div>
    
    <div class="g-recaptcha" data-sitekey="6Ldv5CITAAAAAH-A9d4hYzyHI9fAndsSSvCtbh0y"></div>

  <% end %>

</div>
<div class="col-md-3"></div>