<%= simple_form_for(@clip) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>

  <div class="form-actions" style="text-align:center;">
    <%= f.button :submit, :class=> "btn btn-primary" %>
  </div>
<% end %>
