<% content_for :button_set do %>
       <%= render 'layouts/loggedSet' %>
<%end%>



<div class="col-md-1">
</div>
<div class="col-md-10">
  
  <div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#new-clip" aria-controls="home" role="tab" data-toggle="tab">    
        <span>
             <%= image_tag "glyphicons_free/glyphicons/png/glyphicons-433-plus.png", :alt => "plus", :title => "plus" %>
          </span>

       New Clip
      </a>
    </li>

    <% @clips.each do |clip|%>
      <li role="presentation">
        <a href="#tab-<%= clip.id %>" aria-controls="profile" role="tab" data-toggle="tab">
          <span>
             <%= image_tag "glyphicons_free/glyphicons/png/glyphicons-63-paperclip.png", :alt => "clip", :title => "clip" %>
          </span>
          <%= clip.name%>
        </a>
      </li>
    <%end%>

  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="new-clip">
      <div class="col-md-3"></div>
      <div class="col-md-6 well">

        <h1>New Clip</h1>
        <%= render 'form' %>

      </div>
      <div class="col-md-3"></div>

    </div>
     
    <% @clips.each do |clip| %>
       <div role="tabpanel" class="tab-pane" id="tab-<%= clip.id %>">   
          <div class="alert alert-info row">
          <div  style="text-align:center;">
          <%= link_to 'Edit', edit_clip_path(clip), :class=>"btn btn-success", :style=>"color:white; font-weight:bold;" %>
          <%= link_to 'Destroy', clip, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger", :style=>"color:white; font-weight:bold;" %>
          </div>
          <p>
            <strong>Name:</strong><%= clip.name %>
          </p>
          <p>
            <strong>Description:</strong><%= clip.description %>
          </p>

          </div>

            <% if !clip.news.blank?%>
              <div>

                <% for x in clip.news%>
                 <div class="row well">
                 <div class="col-md-3">
                  <p class="newImage">
                    <%= image_tag x.image(:medium), :class => "img-thumbnail" %>
                  </p>
                 </div>

                 <div class="col-md-9">
                  <h4>
                    <a href="<%=x.Url%>">
                      <%= x.Title %>
                    </a>
                  </h4>
                  <p>
                    <em>
                     <strong>Created at</strong> <%= time_ago_in_words(x.created_at)%> ago
                    </em>
                  </p>
                  
                  <p>
                    <strong>Source Site:</strong>
                  </p>

                  <div>
                      <%=link_to "Destroy", save_destroy_path(x.id, clip.id), :class=> "btn btn-danger", :style => "color:white; font-weight:bold;", data: { confirm: 'Are you sure?' } %>
                  </div>

                 </div>

                 </div> 
                <% end %>

              </div>
            <% else %>
              <div style="text-align:center;">
                <h1>No news here</h1>

              </div>
            <% end %>
       </div>
    <% end %>

  </div>

  </div>
</div>
<div class="col-md-1"></div>