
header{
 background: rgba(170,209,54,1);
background: -moz-linear-gradient(45deg, rgba(170,209,54,1) 0%, rgba(145,232,66,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(170,209,54,1)), color-stop(100%, rgba(145,232,66,1)));
background: -webkit-linear-gradient(45deg, rgba(170,209,54,1) 0%, rgba(145,232,66,1) 100%);
background: -o-linear-gradient(45deg, rgba(170,209,54,1) 0%, rgba(145,232,66,1) 100%);
background: -ms-linear-gradient(45deg, rgba(170,209,54,1) 0%, rgba(145,232,66,1) 100%);
background: linear-gradient(45deg, rgba(170,209,54,1) 0%, rgba(145,232,66,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aad136', endColorstr='#91e842', GradientType=1 );
}

footer{
  text-align:center;
}


.headline-subject{
  color:#9900ff;
}

#logo{}


.scriptExecution{
  border:1px solid black;
}


}

.jumbotron{
  height:400px;
  
}

.headline-text{
  background-color:black;
  
}
footer{
  background-color:lightgray;
}

#footerLinks li{
  list-style-type: none;
}

.copyright{
  font-weight:bold;
}

.imgHeadline{

}

.infoLabel{
  text-align:center;
}