<%= simple_form_for(@site) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :Name %>
    <%= f.input :Url %>
    <%= f.input :Country %>
    <%= f.input :State %>
    <%= f.input :Model %>
    <%= f.input :category_id %>
    <%= f.input :last_scrapped %>
    <%= f.input :score %>
  </div>

  <div class="form-actions" style="text-align:center;">
    <%= f.button :submit %>
  </div>
<% end %>
