<script type="text/javascript">
  $(function(){

    $(".modelTD").each(function(){

      if($(this).text() == "train"){
        $(this).parent().addClass("info");
      }

      else{
        $(this).parent().addClass("active");
      }

    });


  });

</script>

<div class="col-md-1"></div>
<div class="col-md-10 well">
<p id="notice"><%= notice %></p>
<h1>Listing Sites</h1>

<p>
  <%= link_to 'New Site', new_site_path, :class => "btn btn-primary", :style =>"color:white;" %>
</p>
<hr/>
<p>
 &nbsp;The sites listed here will be used by our classification algorithm, so be
 careful!
</p>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th>Country</th>
      <th>State</th>
      <th>Model</th>
      <th>Category</th>
      <th>Last scrapped</th>
      <th>Score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sites.each do |site| %>
      <tr>
        <td><%= site.Name %></td>
        <td><%= site.Url %></td>
        <td><%= site.Country %></td>
        <td><%= site.State %></td>
        <td class="modelTD"><%= site.Model %></td>
        <td><%= site.category_id %></td>
        <td><%= site.last_scrapped %></td>
        <td><%= site.score %></td>
        <td><%= link_to 'Edit', edit_site_path(site), :style=> "color:white;", :class => "btn btn-success" %></td>
        <td><%= link_to 'Destroy', site, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger", :style => "color:white;" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<div class="col-md-1"></div>