<div class="col-md-2"></div>
<div class="col-md-8 well">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @site.Name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @site.Url %>
</p>

<p>
  <strong>Country:</strong>
  <%= @site.Country %>
</p>

<p>
  <strong>State:</strong>
  <%= @site.State %>
</p>

<p>
  <strong>Model:</strong>
  <%= @site.Model %>
</p>

<p>
  <strong>Category:</strong>
  <%= @site.category_id %>
</p>

<p>
  <strong>Last scrapped:</strong>
  <%= @site.last_scrapped %>
</p>

<p>
  <strong>Score:</strong>
  <%= @site.score %>
</p>

<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
</div>
<div class="col-md-2"></div>