<!--
        <% content_for :button_set do %>
             <button onclick="window.location.href='/account/login'" class="col-md-3 btn btn-primary btn-lg" id="enterBtn">Enter</button>
        <%end%>
    --><html><head><script type="text/javascript">
          $(function(){


              $('.bxslider').bxSlider({infiniteLoop: true, speed:100, hideControlOnEnd: true, slideWidth:900,autoStart: true});

              var val = $("#0").attr("class");
              var arr = val.split("-");
              var query = "new-" + arr[1];
              var categorie_name = arr[1];
              categorie_name[0] = categorie_name[0].toUpperCase();  
              $("#categoryLabel").text(categorie_name);
              $('#categoryLabel').css('textTransform', 'capitalize');
              $("#"+query).show().siblings("div").hide();     


              //Mudar os a's para a classe .externalLink
              $(document).on('click', '.externalLink', function(e){ 
                  e.preventDefault(); 
                  var url = $(this).attr('href'); 
                  window.open(url, '_blank');
              });
              


              $(".bx-pager-link").click(function(){
                 var val = $(this).attr("data-slide-index");
                 var categorie_class = $("#" + val).attr("class");
                 var arr = categorie_class.split("-");
                 var query = "new-" + arr[1];
                 var categorie_name = arr[1];
                 categorie_name[0] = categorie_name[0].toUpperCase();             
                 $("#categoryLabel").text(categorie_name);
                 $('#categoryLabel').css('textTransform', 'capitalize');
                 $("#"+query).show().siblings("div").hide();     
              });



          });
      </script>
  </head>

  <body>
  <div id="infoLabel" class="galeryWrapper"><span class="glyphicon glyphicon-flag"></span><b>Local:</b><span style="padding-right:20px;">Sao Paulo, Brasil</span><span class="glyphicon glyphicon-time"></span><b>Ultima Atualizacao:</b><span>12:14:37</span></div>

  <div class="row galeryWrapper">

      <div class="col-md-3"></div>
      <div id="embed_gallery">
          <ul class="bxslider">
              <!--Slide1 -->
              <li id="0" class="top-esportes">
                  <div class="image">
                    <!-- <%= image_tag "tech_background.jpg"%> -->
                     <h2 class="caroselInner">
                      <a href="#">A manchete de esportes vai aqui</a><br/> 
                      <em style="font-size:18px;">E o texto da manchete vai aqui tambem</em>
                     </h2>
                  </div> 
              </li>
              <!--Slide2 -->
              <li id="1" class="top-tecnologia">
                  <div class="image">
                  <!-- <%= image_tag "tech_background.jpg"%> -->
                    <h2 class="caroselInner">
                      <a href="#">A manchete de tecnologia vai aqui</a><br/> 
                      <em  style="font-size:18px;">E o texto da manchete vai aqui tambem</em> 
                    </h2>
                  </div>
              </li>

              <!--Slide3 -->
              <li id="2" class="top-ciencia">
                  <div class="image">
                   <!-- <%= image_tag "tech_background.jpg"%> -->
                    <h2 class="caroselInner">
                      <a href="#">A manchete de ciencia vai aqui</a> <br/> 
                      <em style="font-size:18px;">E o texto da manchete vai aqui tambem</em> 
                    </h2>
                  </div>
              </li>

              <!--Slide4 -->
              <li id="3" class="top-economia">
                  <div class="image">
                   <!-- <%= image_tag "tech_background.jpg"%> -->
                    <h2 class="caroselInner">
                      <a href="#">A manchete de economia vai aqui</a> <br/> 
                      <em style="font-size:18px;">E o texto da manchete vai aqui tambem</em> 
                    </h2>
                  </div>
              </li>

              <!--Slide5 -->
              <li id="4" class="top-entretenimento">
                  <div class="image">
                   <!-- <%= image_tag "tech_background.jpg"%> -->
                    <h2 class="caroselInner">
                      <a href="#">A manchete de entretenimento vai aqui</a> <br/> 
                      <em style="font-size:18px;">E o texto da manchete vai aqui tambem</em> 
                    </h2>
                  </div>
              </li>


              <!--Slide6 -->
              <li id="5" class="top-politica">
                  <div class="image">
                   <!-- <%= image_tag "tech_background.jpg"%> -->
                    <h2 class="caroselInner">
                     <a href="#">A manchete de politica vai aqui</a> <br/> 
                      <em style="font-size:18px;">E o texto da manchete vai aqui tambem</em> 
                    </h2>
                  </div>
              </li>

          </ul>

      </div>
      <div class="col-md-3"></div>
  </div>
    
  <div>
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <h1 id="categoryLabel"></h1>
        <div class="row" id="newsHolder">
        
        </div>
      </div>
      <div class="col-md-3"></div>
  </div>
  </body>
</html>