<% content_for :button_set do %>
     <%= render 'layouts/loggedSet' %>
<%end%>

<div class="col-md-2">
   <div class="col-md-1"></div>
  	
   <div class="col-md-10">
   		<ul class="nav nav-pills nav-stacked" style="margin-top:10px;">
  			<li role="presentation" class="active"><a href="#">Home</a></li>
  			<li role="presentation"><a href="#">Clipping</a></li>
   		</ul>
   </div>

   <div class="col-md-1"></div>
</div>
                
<div class="col-md-9 well">


	<div class="notice">
		<%= notice%>
	</div>

	<div class="alert">
		<%= alert%>
	</div>
	
  

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
    <li role="presentation"><a href="#social" aria-controls="messages" role="tab" data-toggle="tab">Social</a></li>
    <li role="presentation"><a href="#help" aria-controls="settings" role="tab" data-toggle="tab">Help</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade active in" id="home">
	    <h1>Home!!</h1>
	    <p>              
	        &nbsp;Welcome, <mark> <%= @user_name %> </mark>. You took the first step to start 
	        your experience on our plataform. Now, we want to know some
	        aspects of your reading interests in order to filter better
	        the content and provide you an awesome reading experience. We propose some quick questions in order to show filtered content based on your interests. Don't worry,
	       	you will can change later these choices once answered!
	    </p>

    </div>

    <div role="tabpanel" class="tab-pane fade" id="social">
    	<h1>Social</h1>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="help">
    	<h1>Help</h1>
    </div>
  </div>



</div>    
<div class="col-md-1"></div>

