<% content_for :button_set do %>
  <%= render 'layouts/loggedSet' %> 
<%end%>

<div class="col-md-3"></div>
<div class="col-md-6 well">

 <h1>Profile Info</h1>
 <p>
 Before we finish creating your account, could you give us more information
 about you?
 </p>

 <%= simple_form_for :createprofile, :url=>'/profile/create', :method=> :post, :html=>{:multipart => true} do |f| %>
 
  <div>
  	<%= f.input 'about', :class => "form-control", as: :text%>
  </div>

  <div>
  	<strong>Your Picture</strong>
  </div>
  
  <div>
  	<%= f.file_field "avatar", :class=>"form-control" %>
  </div>

  <div>
    <h3>Reading Interests</h3>
    
      <%= f.input :interests, collection: @categories_names, as: :check_boxes, label: false, :id => "interestsCheck"  %>
  </div>

  <p style="text-align:center;">
  	<%= f.submit "Update", :class=> "btn btn-primary", :style=>"font-weight:bold;" %>
  </p>
<% end %>

</div>
<div class="col-md-3"></div>