
<% content_for :button_set do %>
    <% if user_signed_in? %>
       <%= render 'layouts/loggedSet' %>
    <% else %>
      <button onclick="window.location.href='/users/sign_in'" class="col-md-3 btn btn-primary btn-lg" id="enterBtn">
        Enter
      </button>
    <% end %>  
<%end%>

<div class="col-md-3" style="text-align:center;">
	<div class="col-md-1"></div>
	<div class="col-md-10">
	<h3>
		<%= @user_name %>
	</h3>
	
	<div>
	 <%= image_tag(@user.avatar.url(:thumb), :class => "img-thumbnail") %>
	</div>

	<p>
		<em>
			<strong>Joined</strong>
			<%= time_ago_in_words(@created_at)%> ago
		</em>
	</p>

	<% if @status %>
		<span class="label label-primary">
			<b>Admin</b>
		</span>
		
	<% else %>
	 <span class="label label-success">
	 	<b>User</b>
	 </span>
	<% end %>

	<hr/>

	<%# if isprofileowner(current_user.id, @user_id) %> 
	<%#= link_to "Edit Profile", edit_registration_path(current_user), :class=> "btn btn-warning", :style=>"font-weight:bold; color:white;" %>
	<%# end %>
	</div>
	<div class="col-md-1"></div>
</div>

<div class="col-md-6 centralizeVertical">
	<div class="well">
		<h2>About me</h2>
		<p>
			&nbsp;<%= @user_about %>
		</p>
	</div>

	<div class="well">
		<h2>My interests are</h2>
		
		<% if !@list_interests.blank?%>
			<% for u in @list_interests%>
				<ul>
					<li><%=u.capitalize%></li>
				</ul>
			<% end %>
		<%else%>
			You didn't provide us any of your interests :(

		<% end %>
	</div>
</div>

<dic class="col-md-3"></dic>
