/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require jquery-ui
 *= require_self
 *= require bootsy
 *= require froala_editor.min.css
 *= require froala_style.min.css
 *= require font-awesome
 *= require plugins/char_counter.min.css
 *= require plugins/code_view.min.css
 *= require plugins/colors.min.css
 *= require plugins/emoticons.min.css
 *= require plugins/file.min.css
 *= require plugins/fullscreen.min.css
 *= require plugins/image_manager.min.css
 *= require plugins/image.min.css
 *= require plugins/line_breaker.min.css
 *= require plugins/quick_insert.min.css
 *= require plugins/table.min.css
 *= require plugins/video.min.css
 *= require image-picker
 *= require bootstrap-tagsinput.css
 */
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

#categoryLabel{
  font-weight:bold;
}

header{
    height:20%;
}

main{
     height:80%;
     min-height:600px;
}

.fakeLink{
  font-color:white;
}


#news_Text{
  width: 750px; height: 299px;
}

#news_Title, #news_Url, #news_category,#news_Author{
  width:750px;
}

.indexWell{
  margin-top:10px;
  width:100%;
  height:140px;
}

.submitHolder{

  text-align: center;
}

/*
Put the text on the image 
-----------------------------------------------------------------------------------
*/

.item{
 height:540px;

}
#news_carousel{
   background-color:#E6E6E6;
}
.carousel-inner{
  background-color:#E6E6E6;
}

.item{

}

.carousel-caption{
  color:white;
  font: bold 24px/45px Helvetica, Sans-Serif; 
}

.slideA{
color:white;
}

.carousel-control span{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.setBtn{
  height:40px;
  
}

#infoLabel{
  margin-top:40px;
  color:black;
  width:650px;
}

.zogueIntro{
  text-align: center;
  color:white;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.radiobutton {
    margin-right: 20px;
    display: inline-block;
}

.checkBtn{
  width:100%;
}

.new{
  height:480px;
  width:330px;
  margin-left:3px;
  border-radius: 3px;
}

/*
.image { 
   /* for IE 6 
}


.caroselInner { 
   position: absolute; 
   top: 70%; /*Ajustar conforme for o tamanho da imagem 
   left: 0; 
   width: 100%; 
}


.caroselInner { 
   color: white; 
  
   letter-spacing: -1px;  

   padding: 10px; 
}

.caroselInner a{
  color:white;
  font-size:30px;
}
*/
/*-----------------------------------------------------------------------------------*/


header{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2b2e30+0,000000+100 */
background: #2b2e30; /* Old browsers */
background: -moz-linear-gradient(top, #2b2e30 0%, #000000 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #2b2e30 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #2b2e30 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2e30', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
color:white;
}

footer{
  text-align:center;
  left:0px;
  bottom:0px;  
  /*width:100%; 
  margin:0px;*/
  padding:0px;
  min-width:100%;
  max-width:100%;
  position:fixed;
}


.headline-subject{
  color:#9900ff;
}


.button-set{
  text-align:center;
}

.button-set button{
  height:40px;
} 

#homeBar{
  margin-top:15px;
}

ul{
  list-style-type: none;
}

.footerLabel{
    font-weight:bold;
}

.top-headline{
    color:black;
}
#fotoramaContainer{
    height:400px;
}

.new-headline{
    font-size:18px;
    color:black;
}

#fotoramaHolder{
    /*COLOR: SNOW */
    background-color: #F8F8FF;
}

.top-headline{
font-size:20px;
}

.jumbotron{
  height:400px;
  
}

.new{
  margin-top:10px;
  text-align: center;
}

.btnMenu-item{
    width:300px;
}

#accountContainer{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align:center;
    background-color: #F8F8FF;
    border-radius: 20px;
}

.showimageNew, .newImage{
    margin-top:4px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:4px;
}

.newContent{
  text-align: center;
   display: block;
    margin-left: auto;
    margin-right: auto;
}

.centralizeVertical{
     position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}


#enterBtn{
    margin-top:15px;
    font-weight:bold;
}

#categoryLabel{
  color:#2e6da4;
}

.loginInput{
    width:250px;
}

#loginMain{
    height:500px;
}

#infoLabel{
    text-align:center;
}
.button-set{
    text-align:center;
}

.headline-text{
  background-color:black;
  
}
footer{
  margin-top:10px;
}

#footerLinks li{
  list-style-type: none;
}


.copyright{
  font-weight:bold;
}

.footerNav{
    text-align:center;
    color:white;
}

.imgHeadline{

}

.infoLabel{
  text-align:center;
}



/*FORM VALIDATION */
/*---------------------------------------------------- */

.field_error input, .field_error textarea{
 
}

.message{
  color:red;
}

/*---------------------------------------------------- */

/*Navigation Helper */
/*------------------------------------------------------ */


.navigationHelper{
  text-align:center;
  background-color: gray;
}

.arrow{
  color:white;
  font-weight:bold;
  background-color: black;
  width:60px;
  height:30px;
}

a.arrow:visited{
  color:white;
}

a.arrow:hover{
 color:white;
 background-color: gray;
}
.arr{
  width:60px;
  height:30px;
}

.arrBtn:hover{
  background-color: gray;
}

/*------------------------------------------------------ */
