<%= form_for(@human_interaction) do |f| %>
  <% if @human_interaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@human_interaction.errors.count, "error") %> prohibited this human_interaction from being saved:</h2>

      <ul>
      <% @human_interaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Title %><br>
  
    <%= f.hidden_field :Title, :value => new.Title %>
  </div>

  <div class="field">
    <%= f.label :suggested_category %><br>
    <%= f.text_field :suggested_category, :class => "form-control" %>
  </div>
 
  <%= f.hidden_field :user_id, :value => current_user.id %>  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
