
$(function(){
	//$('#feedbackana-<%=@human_interaction.new_id %>').fadeOut(100, function(){
	//	$(this).remove();
	//});
	window.location.reload(false); 
	alert("Thanks for your contribution. Wait a minute, we are refreshing the page :)");
	
});
