<p id="notice"><%= notice %></p>

<h1>Listing Human Interactions</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Suggested category</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @human_interactions.each do |human_interaction| %>
      <tr>
        <td><%= human_interaction.Title %></td>
        <td><%= human_interaction.suggested_category %></td>
        <td><%= human_interaction.user_id %></td>
        <td><%= link_to 'Show', human_interaction %></td>
        <td><%= link_to 'Edit', edit_human_interaction_path(human_interaction) %></td>
        <td><%= link_to 'Destroy', human_interaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Human interaction', new_human_interaction_path %>
