<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @human_interaction.Title %>
</p>

<p>
  <strong>Suggested category:</strong>
  <%= @human_interaction.suggested_category %>
</p>

<p>
  <strong>User:</strong>
  <%= @human_interaction.user_id %>
</p>

<%= link_to 'Edit', edit_human_interaction_path(@human_interaction) %> |
<%= link_to 'Back', human_interactions_path %>
