

<% content_for :button_set do %>
    <% if user_signed_in? %>
       <%= render 'layouts/loggedSet' %>
    <% else %>
      <button onclick="window.location.href='/users/sign_in'" class="col-md-3 btn btn-primary btn-lg" id="enterBtn">
        Enter
      </button>
    <% end %>                 
<%end%>


<div class="row" style="margin-top:10px;">
	<div class="col-md-3"></div>
	<div class="well col-md-6 centralizeVertical">

		<div class="col-md-4">
			<%= image_tag "ana.png", :alt => "ana", :title => "ana" %>
		</div>
		
		<div class="col-md-6">
			<h1><u>About Ana</u></h1>
			<p>
				&nbsp;&nbsp;Hello, my name is <mark>Ana</mark>. If you arrived here is because you want to know a little about me.. Okay, being straightforward i am a Bot, but don't underestimate my skills :) <br>
				&nbsp;&nbsp;Are you surprised because instead of destroying or doing bad things i am helping
				you to read news all over the world easier? I know..

			</p>

			<h1><u>Teach me!</u></h1>
			<p>
				&nbsp;&nbsp;I am a very newbie robot, and you are a awesome human (believe me, robots still can't do what evolution designed you to accomplish), so you can teach me how to
				think like you
			</p>
		</div>
		<div class="col-md-2"></div>
		
	</div>
	<div class="col-md-3"></div>
</div>