

<% content_for :button_set do %>
    <% if user_signed_in? %>
       <%= render 'layouts/loggedSet' %>
    <% else %>
      <button onclick="window.location.href='/users/sign_in'" class="col-md-3 btn btn-primary btn-lg" id="enterBtn">
        Enter
      </button>
    <% end %>                 
<%end%>


<div class="col-md-3"></div>
<div class="col-md-6 well centralizeVertical">
	<h1>Plataform#team</h1>
	<p>Find me in app/views/plataform/team.html.erb</p>
</div>
<div class="col-md-3"></div>