
<%= form_for(@category, :html => {:multipart => true} ) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Name %><br>
    <%= f.text_field :Name, :placeholder => "Name", :class=>"form-control" %>
  </div>
  <div class="field">
    <%= f.label :Description %><br>
    <%= f.text_area :Description, :placeholder=>"Description", :class=>"form-control" %>
  </div>

  <div class="control-group">
    <%= f.label :pictures, :class => 'control-label' %>
    <div class="controls">
      <p>
        <%= f.label :image, "Image File", multiple: true %>
        <%= file_field_tag "images[]", type: :file, multiple: true %>
      </p>
    </div>


  </div>

  <div class="actions" style="text-align:center;">
    <%= f.submit  'Save', :class => 'btn btn-primary' %>
  </div>
<% end %>
