<div class="col-md-4"></div>
<div class="col-md-4 well centralizeVertical">
	<h1>Editing Category</h1>
	<%= render 'form' %>
	<%= link_to 'Show', @category %> |
	<%= link_to 'Back', categories_path %>
</div>
<div class="col-md-4"></div>