<% content_for :button_set do %>
    <% if user_signed_in? %>
       <%= render 'layouts/loggedSet' %>
    <% else %>
      <button style="margin-top:0px;" onclick="window.location.href='/users/sign_in'" class="col-md-3 btn btn-primary btn-lg" id="enterBtn">
        Enter
      </button>
    <% end %>                 
<%end%>

<div class="col-md-3"></div>
<div class="col-md-6 well centralizeVertical">
  <p id="notice"><%= notice %></p>
  <h1>Listing Categories</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @categories.each do |category| %>
        <tr>
          
          <td><%= category.Name %></td>
          <td><%= category.Description %></td>
          <td><%= link_to 'Show', category %></td>
          <td><%= link_to 'Edit', edit_category_path(category) %></td>
          <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <p style="text-align:center;">
  <%= link_to 'New Category', new_category_path, :style=> "color:white; font-weight:bold;",:class=> "btn btn-primary" %>
  </p>
</div>
<div class="col-md-3"></div>