
<div class="col-md-3"></div>

<div class="col-md-6 well centralizeVertical">
	<h1>New Category</h1>

	<%= render 'form' %>

	<%= link_to 'Back', categories_path %>
</div>

<div class="col-md-3"></div>