<div class="col-md-1"></div>
<div class="col-md-10">
<div>
  <!-- Nav tabs -->
   <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#welcome" aria-controls="home" role="tab" data-toggle="tab">Home</a>
    </li>
 
    <% for c in @category.subcategories%>		
		<li role="presentation">
     		<a href="#<%= c.id %>" aria-controls="profile" role="tab" data-toggle="tab">
     			<%=c.Name%>
     		</a>
    	</li>
	<%end%>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active well" id="welcome">
    	Hello
    </div>
    <% for c in @category.subcategories%>		
    <div role="tabpanel" class="tab-pane well" id="<%= c.id %>">
    	<div class="row" style="text-align:center; margin-bottom:10px;">	
			<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#adddialog-<%= c.id %>">
				Add image
			</button>
		</div>

    	<table class="table table-striped well">
			<thead>
				<th>Picture</th>
				<th>Name</th>
				<th>Actions</th>
			</thead>
			<tbody>
				<% for p in c.pictures%>
					<tr>
						<td>
						<%= image_tag p.image(:medium), :class => "img-thumbnail" %>
						</td>
						<td><%=p.image_file_name%></td>
						<td>
							<button class="btn btn-success">
								<strong>Edit</strong>
							</button>
							<button class="btn btn-danger">
								<strong>Destroy</strong>
							</button>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>

		<!-- Trigger the modal with a button -->
		<!-- Modal -->
		<div id="adddialog-<%= c.id %>" class="modal" role="dialog">
		  <div class="modal-dialog">

		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		        <h4 class="modal-title">Add images</h4>
		      </div>
		      <div class="modal-body">
		        <strong>Subcategoria:</strong><%= c.Name %>

				<%= form_for(create_pictures_path, :html => {:multipart => true} ) do |f| %>
				  <div class="control-group">
				    <div class="controls">
				      <p>
				        <%= f.label :image, "Image File", multiple: true %>
				        <%= file_field_tag "images[]", type: :file, multiple: true %>
				      </p>
				    </div>
				  </div>

				  <div class="actions" style="text-align:center;">
				    <%= f.submit  'Create', :class => 'btn btn-primary' %>
				  </div>
				<% end %>

		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close
		        </button>
		      </div>
		    </div>

		  </div>
		</div>


    </div>
  	<%end%>
  </div>
</div>

</div>
<div class="col-md-1"></div>
