<% content_for :button_set do %>
    <% if user_signed_in? %>
       <%= render 'layouts/loggedSet' %>
    <% else %>
      <button style="margin-top:0px;" onclick="window.location.href='/users/sign_in'" class="col-md-3 btn for new in btn-primary btenterBtn">
        Enter
        </button>
    <% end %>                 
<%end%>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-11">
    <h1 id="categoryLabel">
        <%= @category.Name.capitalize %>
    </h1>
    <hr/>
  </div>
</div>

<% if !@category.news.blank?%> 
  <% if !@category.subcategories.blank? %>
     <% for s in @category.subcategories %>          
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <h2>&#10146;<%= s.Name %></h2>  
            <% for x in filtertodayNews(s.news) %>
              <%= render :partial => "news/new", locals: {:x => x} %>
            <% end %>      
          </div>
          <div class="col-md-1"></div>
        </div>
    <% end %>

     <% for u in @uncategorized %>          
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <h2>&#10146;Sem categoria</h2>  
            <% for x in filtertodayNews(u) %>
              <%= render :partial => "news/new", locals: {:x => x} %>
            <% end %>      
          </div>
          <div class="col-md-1"></div>
        </div>
    <% end %>

  <% else %>
    <div class="row">
      <div class="col-md-1"></div>  
      <div class="col-md-10">
        <% for x in filtertodayNews2(@category.news) %>
          <%= render :partial => "news/new", locals: {:x => x} %>
        <% end %>
      </div>
      <div class="col-md-1"></div>
    </div>
  <% end %>

<% else %>
  <div class="row">  
    <div class="col-md-1"></div>
    <div class="col-md-11">  
      <h2 style="text-align:center; color:red;">
        Sorry, there aren't news for this category :(
      </h2>
    </div>
  </div>
<% end %>
