<div class="col-md-3"></div>
<div class="col-md-6 centralizeVertical well" style="text-align:center;">
	<h1>Thanks for creating an account</h1>
	<h3>Registered E-mail: <%= current_user.email %></h3>
	<p>
		In order to continue using your account, please confirm your e-mail!
	</p>
</div>
<div class="col-md-3"></div>