<%= simple_form_for(@statistic) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :listed_sites %>
    <%= f.input :genesis %>
    <%= f.input :runner %>
    <%= f.input :primary_classification %>
    <%= f.input :news_number %>
    <%= f.input :rightansw_number %>
    <%= f.input :global %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
