<% content_for :button_set do %>
    <% if user_signed_in? %>
       <%= render 'layouts/loggedSet' %>
    <% else %>
      <button onclick="window.location.href='/users/sign_in'" class="col-md-3 btn btn-primary btn-lg" id="enterBtn">
        Enter
      </button>
    <% end %>  
<%end%>


<div class="col-md-1"></div>
<div class="col-md-10 well">
  <p id="notice"><%= notice %></p>
  <h1>Listing Statistics</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Listed sites</th>
        <th>Genesis</th>
        <th>Runner</th>
        <th>Primary classification</th>
        <th>News number</th>
        <th>Rightansw number</th>
        <th>Global</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @statistics.each do |statistic| %>
        <tr>
          <td>
            <strong>
              <%= statistic.created_at %>
            </strong>
          </td>
          <td><%= statistic.listed_sites %></td>
          <td><%= statistic.genesis %></td>
          <td><%= statistic.runner %></td>
          <td><%= statistic.primary_classification %></td>
          <td><%= statistic.news_number %></td>
          <td><%= statistic.rightansw_number %></td>
          <td><%= statistic.global %></td>
          <td><%= link_to 'Show', statistic %></td>
          <td><%= link_to 'Edit', edit_statistic_path(statistic) %></td>
          <td><%= link_to 'Destroy', statistic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
<div class="col-md-1"></div>