<p id="notice"><%= notice %></p>

<p>
  <strong>Listed sites:</strong>
  <%= @statistic.listed_sites %>
</p>

<p>
  <strong>Genesis:</strong>
  <%= @statistic.genesis %>
</p>

<p>
  <strong>Runner:</strong>
  <%= @statistic.runner %>
</p>

<p>
  <strong>Primary classification:</strong>
  <%= @statistic.primary_classification %>
</p>

<p>
  <strong>News number:</strong>
  <%= @statistic.news_number %>
</p>

<p>
  <strong>Rightansw number:</strong>
  <%= @statistic.rightansw_number %>
</p>

<p>
  <strong>Global:</strong>
  <%= @statistic.global %>
</p>

<%= link_to 'Edit', edit_statistic_path(@statistic) %> |
<%= link_to 'Back', statistics_path %>
