

<div class="row" style="margin-bottom:10px;">
    <div class="col-md-3"></div>
    <div class="col-md-6">
       	<button type="button" class="btn  btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <strong>Admin</strong> <span class="caret"></span>
       	</button>  

        <ul class="dropdown-menu dropdown-menu-right">
          
           <% if alreadyValidated(x.id) == false %>
           <li class="list-group-item" style="text-align:center;">
               <button class="btn btn-success" type="button" data-toggle="modal" data-target="#feedbackModal-<%= x.id %>">
					<strong>Feedback</strong>
				</button>
           </li>
           <%end%>
          <li class="list-group-item" style="text-align:center;">
               <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#entitiesModal-<%= x.id %>">
              <strong>Entities</strong>
              </button>
          </li>
          <li class="list-group-item" style="text-align:center;">
            <%= link_to 'Edit', edit_news_path(x) %>
          </li>
          <li class="list-group-item" style="text-align:center;">
            <%= link_to 'Destroy', x, method: :delete, :remote => true%> 
          </li>
        </ul>    
    </div>
    <div class="col-md-3"></div>
</div>
  
 <div style="text-align:center;">                         
	<button class=" setBtn btn btn-success" data-toggle="modal" data-target="#branchModal-<%=x.id%>">	
		<span class="badge">
			<%= countBranches(x) %>
		</span> 
		<strong>Branch</strong> 
	</button>

	 <button class="setBtn btn btn-success" data-toggle="modal" data-target="#saveModal-<%=x.id%>">
          <strong>Save</strong>
     </button>

 	<button class="setBtn btn btn-success" data-toggle="modal" data-target="#share-<%=x.id%>">
		<strong>Share</strong>
	</button>
                        
</div>

