<!-- Modal -->
<div class="modal" id="branchModal-<%=x.id%>" tabindex="-1" role="dialog" aria-labelledby="branchModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button style="text-align:right;" type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
      </div>
      
      <div class="modal-body">
        <strong>New to branch:</strong> <%= x.Title %>
        <%= simple_form_for(@branch, :validates => true) do |f| %>
          <%= f.error_notification%>
          
          <div class="field">
            <%= f.input :Title, :class => "form-control", placeholder: "Title" %>
            <%= f.input :Text, :class => "form-control", placeholder: "Text" %>
            <%= f.hidden_field :news_id, :value => x.id %>
            <%= f.hidden_field :author, :value => @user_name %>
          </div>
                                
          <div class="row">  
            <div style="text-align:left;" class="col-md-6">
              <%= f.input :reaction, collection: ['Agree', 'Disagree'], as: :radio_buttons, label: false, :id => "reactionsGroup"  %>
            </div>

            <div class="col-md-6" style="text-align:center;">
            
            <p>  
              <%= f.submit  'Add the branch', :class => 'btn btn-primary', :style=> "height:40px;" %>
            </p>
            </div>
          </div>

        <% end %>
        
        <hr/>
        <% if x.branches.blank?%>
          <h2>No branch for this new :(</h2>
          <p>
            Branching contibutes for that your voice be heard
                                  for another ones 
          </p>
        <%else%>
        <div id="branchesLister-<%= x.id%>" class="animalDC">
          <% for i in x.branches.order(:cached_votes_up => :desc) %>
            <%= render :partial => "branches/show", locals: {:i => @branches.find(i.id)} %>
          <% end %>       
        </div>
      <%end%>

    </div>                         
  </div>
  </div>
</div>