<!-- Modal -->
<div class="modal" id="entitiesModal-<%= x.id %>" tabindex="-1" role="dialog" aria-labelledby="branchModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button style="text-align:right;" type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
      </div>
      
      <div class="modal-body">
        <% if !x.organizations_list.blank? or !x.people_list.blank?%>
          <div>
            <h3>Organizations</h3>
            <% for b in x.organizations_list.split(",") %>
              <ul style="text-align:center;">
                <li>
                  <%=get_info(b, "organization", x.category_id) %>
                </li>
              </ul>
            <% end %>
            <hr/>
            <h3>People</h3>
            <% for c in x.people_list.split(",") %>
              <ul style="text-align:center;">
                <li>
                  <%=get_info(c, "person", x.category_id)%>
                </li>
              </ul>
            <% end %>
          </div>
        <% else %>
          <h3>No entities to list</h3>
        <% end %>
     </div>                         
  </div>
  </div>
</div>


