
<%= simple_form_for(@news ,:validates => true, :html => {:class => 'well'}) do |f| %>
  <% if @news.errors.any? %>
    <div class="text-danger bg-danger">
      <h2>Check your inputs</h2>
    </div>
  <% end %>
 
 <% if @news.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@news.errors.count, "error") %> prohibited this mark from being saved:</h2>
 
    <ul>
    <% @news.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


  <div class="field">
    <%= f.input :Title, :class => 'form-control', :placeholder => "Title" %>
  </div>
  <div class="field">
    <%= f.input :Text, :onkeyup => "countChar(this)", :class => 'form-control', :placeholder => "Text", :validates => true  %>
     <strong id="charNum">0</strong> characters added (minimum:100, maximum:1000)
  </div>

   <div class="field">
       <%= f.association :category, collection: @categories_name %>
   </div>

   <div class="field">
    <%= f.input :Url, :class => 'form-control', :placeholder => "Url"  %>
  </div>

  <div class="field">
    <%= f.label :Author %><br>
    <%= @user_name%>
  </div>

  <div class="field">
     <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
 
  <div class="actions" style="text-align:center;">
    <%= f.submit  'Add the New', :class => 'btn btn-primary' %>
  </div>
<% end %>
