<div id="<%=x.id%>-container" class="col-md-4 new well">
  
   <p class="newImage">    
    <%=image_tag select_image(x.id).image(:medium), :class => "img-thumbnail" %>
   </p>

   <% if x.subcategory_id != 0%>
     <p style="text-align:center;">
      <!--Recomended or breaking news -->
      <span class="label label-success">
          <%= get_subcategoryname(x.id) %>
      </span>
     </p>
   <%end%>

  <%= link_to  like_news_path(x), :remote => true, :class => "like", method: :put, :title => x.Title do %>
    <%= x.Title.capitalize%>
  <% end %>
               
  <p>
    <em>
      <%= time_ago_in_words(x.created_at).capitalize%> ago
    </em>
  </p>

  <p>
    <strong>Author:</strong>                          
    <% if x.Author == "Ana"%>
      <a href="plataform/ana">
        <%= x.Author %>
      </a>
    <%elsif x.Author == @user_name%>
      <a href="profile/<%=current_user.id%>">
        You
      </a>
    <%else%>
      <a href="#">
        <%= x.Author %>
      </a>
    <%end%>
  </p>   

  <div class="button-set btn-group">
    <% if user_signed_in?%>

      <% if current_user.is_admin?%>
        <%= render :partial => "news/admin_btnset", locals: {:x => @news.find(x.id)} %>

        <!-- Modal -->
        <div class="modal" id="feedbackModal-<%=x.id%>" tabindex="-1" role="dialog" aria-labelledby="feedbackModal">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Feedback Ana</h4>
              </div>
              <div class="modal-body">

                <%= simple_form_for(@human_interaction, :remote => true) do |f| %>
                  <div class="field">
                    <strong>Title</strong><br/>
                    <%= x.Title.capitalize%> <br/>
                    <%= f.hidden_field :Title, :value => x.Title %>
                    <%= f.hidden_field :new_id, :value => x.id %>
                  </div>

                  <div class="field">
                    <%= f.input :suggested_category, placeholder: "Which category this new belongs to?", collection: @categories_name%>
                  </div>
                  
                  <div>
                    <div class="row">
                      <% if !x.organizations_list.blank? or !x.people_list.blank?%>
                        <div class="row">
                          
                          <% if !x.organizations_list.blank? %>
                          <div class="col-md-6" >
                            <h6>
                              <strong>Organizations</strong>
                            </h6>
                            <ul style="text-align:center;">
                              <% for b in x.organizations_list.split(",") %>
                                <li>
                                  <%=get_info(b, "organization", x.category_id) %>
                                </li>
                              <% end %>
                              </ul>
                          </div>
                          <% else %>
                            <div class="col-md-6">
                               <h6>
                                  <strong>Empty</strong>
                               </h6>
                            </div>
                          <% end %>
                          
                          <% if !x.people_list.blank? %>
                          <div class="col-md-6" >
                             <h6>
                              <strong>People</strong>
                            </h6>

                            <ul style="text-align:center;">
                              <% for c in x.people_list.split(",") %>
                                <li>
                                  <%=get_info(c, "organization", x.category_id) %>
                                </li>
                              <% end %>
                              </ul>
                          </div>
                          <%else%>
                            <div class="col-md-6">
                                <h6>
                                  <strong>Empty</strong>
                               </h6>
                            </div>
                          <%end%>
                        </div>
                        
                        <h6>
                          <strong>
                            Do you agree with the entities listed?
                          </strong>
                        </h6>

                         <%= f.input :add_entities, collection: ['Yes', 'No'], as: :radio_buttons, label: false %>  

                        <% end %>
                    </div>
                      
                  </div>

                  <%= f.hidden_field :user_id, :value => current_user.id %>
                                
                  <div class="actions" style="margin-top:10px;">
                    <%= f.submit  'Send', :class => 'btn btn-primary', :id => "sendBtn", :style=>"font-weight:bold;" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <%= render :partial => "news/branchModal", locals: {:x => @news.find(x.id)} %>

        <%= render :partial => "news/shareModal", locals: {:x => @news.find(x.id)} %>

        <%= render :partial => "news/entities", locals: {:x => @news.find(x.id)} %>

        <%= render :partial => "news/saveModal", locals: {:x => @news.find(x.id)} %>

        <% else %>
            
            <%= render :partial => "news/branchModal", locals: {:x => @news.find(x.id)} %>

            <%= render :partial => "news/shareModal", locals: {:x => @news.find(x.id)} %>
            <%= render :partial => "news/saveModal", locals: {:x => @news.find(x.id)} %>

            <p style="text-align:center;">
                                             
              <button class=" setBtn btn btn-success" data-toggle="modal" data-target="#branchModal-<%=x.id%>"> 
                <span class="badge">
                  <%= countBranches(x) %>
                </span> 
                <strong>Branch</strong> 
              </button>

              <button class="setBtn btn btn-success" data-toggle="modal" data-target="#saveModal-<%=x.id%>">
                  <strong>Save</strong>
              </button>

              <button class="setBtn btn btn-success" data-toggle="modal" data-target="#share-<%=x.id %>">
                  <strong>Share</strong>
              </button>
                        
            </p>
        <% end %>

    <%else%>  
      <%= render :partial => "news/shareModal", locals: {:x => @news.find(x.id)} %>
    
      <p style="text-align:center;">
        <button class="setBtn btn btn-success" data-toggle="modal" data-target="#share-<%= x.id %>">
          <strong>Share</strong>
        </button>

        <button class=" setBtn btn btn-danger" data-toggle="modal" data-target="#reportError">  
          <strong>Report Error</strong> 
            </button>
      </p>
    <% end %>          

    <!-- Modal -->
    <div class="modal" id="reportError" tabindex="-1" role="dialog" aria-labelledby="reportError">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
            </button>
              <h4 class="modal-title" id="myModalLabel">Report Error</h4>
          </div>
          
          <div class="modal-body"> 
            <h2> Contact us on <mark>errorreport@zogue.com.br</mark> </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>