<!-- Modal -->
<div class="modal" id="saveModal-<%=x.id%>" tabindex="-1" role="dialog" aria-labelledby="saveModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button style="text-align:right;" type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
      </div>
      
      <div class="modal-body">
        <strong>New to save:</strong> <%= x.Title %>
    	

 		<%= simple_form_for :save, :url=>'/save/create', :method=> :post, :html=>{:multipart => true} do |f| %>
 			
 			<div class="field">
 			<%= f.input :clipName, placeholder: "Which clip this new belongs to?", collection: @clips%>
 			</div>
 			<%= f.hidden_field :news_id, :value=> x.id %>
 			<p style="text-align:center;">
  				<%= f.submit "Save", :class=> "btn btn-primary", :style=>"font-weight:bold;" %>
  			</p>

 		<% end %>
    	
      </div>                         
  </div>
  </div>
</div>