
<!-- Modal -->
  <div class="modal" id="share-<%=x.id%>" tabindex="-1" role="dialog" aria-labelledby="reportError">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3>Link:</h3>                                    
            <div class="input-group">
              <input style="height:100px; font-size:20px;" type="text" class="form-control linkcopyInput" value="<%= x.Url %>" readonly>
                              
              <span class="input-group-addon">
                <button class="linkcopyBtn fa fa-copy">
                </button>
              </span>
            </div>
          </div>
        </div>
    </div>
  </div>