
<script>
  $(function(){
    

      $('a.carousel-control').click(function(){
        $('#submitBtn').prop("disabled", true);

        setTimeout(
        function() 
        {   
          $('#submitBtn').prop("disabled", false);
          var imgAlt = $("div.active").children().attr("alt");
          imgAlt = imgAlt.replace(" ", "_");
          imgAlt = imgAlt.toLowerCase();
          imgAlt += ".jpg";
          $('input#news_image').val(imgAlt);
        }, 1000);
      });  
    
  });
</script>

<% content_for :button_set do %>
    <% if user_signed_in? %>
       <%= render 'layouts/loggedSet' %>
    <% else %>
      <button onclick="window.location.href='/users/sign_in'" class="col-md-3 btn btn-primary btn-lg" id="enterBtn">
        Enter
      </button>
    <% end %>                 
<%end%>

<div class="col-md-2"></div>
<div class="col-md-8">
	<h1>Editing News</h1>

<%= simple_form_for(@news ,:validates => true, :html => {:class => 'well'}) do |f| %>
  <% if @news.errors.any? %>
    <div class="text-danger bg-danger">
      <h2>Check your inputs</h2>
    </div>
  <% end %>
 
 <% if @news.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@news.errors.count, "error") %> prohibited this mark from being saved:</h2>
 
    <ul>
    <% @news.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <div class="field">
    <%= f.input :Title, :class => 'form-control', :placeholder => "Title" %>
  </div>
  <div class="field">
    <%= f.input :Text, :onkeyup => "countChar(this)", :class => 'form-control', :placeholder => "Text", :validates => true  %>
     <strong id="charNum">0</strong> characters added (minimum:100, maximum:1000)
  </div>

   <div class="field">
       <%= f.hidden_field :category, :value => @category_name %>
   </div>

   <div class="field">
    <%= f.input :Url, :class => 'form-control', :placeholder => "Url"  %>
  </div>

  <div class="field">
    <%= f.label :Author %><br>
     <a href="plataform/ana">Ana</a>
  </div>

  <div class="field"> 
     <h3>Select an image</h3>
     <%= f.hidden_field :image %>

  <div id="myCarousel" data-interval="false" class="carousel slide" data-ride="carousel">
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active" style="background-color:#337ab7;">
          <h1 style="color:white; text-align:center;">
            Select an image
          </h1>
        </div>

        <% @images.each do |image| %>
          <div class="item">    
              <%= image_tag "news_image/#{@category_name}/#{image.split('/').last}" %>
          </div>
        <% end %>

    </div>

     <!-- Controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span  aria-hidden="true">
            <%= image_tag "glyphicons_free/glyphicons/png/glyphicons-211-arrow-left.png"%>
        </span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span  aria-hidden="true">
            <%= image_tag "glyphicons_free/glyphicons/png/glyphicons-212-arrow-right.png"%>
        </span>
        <span class="sr-only">Next</span>
      </a>
  </div>

</div>

 
  <div class="actions" style="text-align:center;">
    <%= f.submit  'Add the New', :class => 'btn btn-primary' , :id => "submitBtn" %>
  </div>
<% end %>


  
	<%= link_to 'Show', @news %> |
	<%= link_to 'Back', news_index_path %>
</div>
<div class="col-md-2"></div>