<meta http-equiv="refresh" content="300" />
<script type="text/javascript">
        $(function(){

            //Copy to clipboard
            var copyTextareaBtn = document.querySelector('.linkcopyBtn');

            copyTextareaBtn.addEventListener('click', function(event) {
              var copyTextarea = document.querySelector('.linkcopyInput');
              copyTextarea.select();

              try {
                var successful = document.execCommand('copy');
                var msg = successful ? 'successful' : 'unsuccessful';
                console.log('Copying text command was ' + msg);
              } catch (err) {
                console.log('Oops, unable to copy');
              }
            });

            //Mudar os a's para a classe .externalLink
            $(document).on('click', '#externalLink', function(e){ 
                e.preventDefault(); 
                var url = $(this).attr('href'); 
                window.open(url, '_blank');
            });
            
            $(".like").each(function(){
              var newTitle = $(this).text();
              var newTitle2 = newTitle.replace(/&quot;/g, '\"');
              $(this).text(newTitle2);
            });
            
            $(".carroselTitle").each(function(){
              var newTitle = $(this).text();
              var newTitle2 = newTitle.replace(/&quot;/g, '\"');
              $(this).text(newTitle2);
            });
            
            $(this).bind("contextmenu", function(e) {
               e.preventDefault();
            });

            $( "<br/>" ).insertAfter("span.radio");

            var radios =  $("span.radio");

            $(radios).each(function(){
              if($(this).children("label").text() == "Agree"){
                $(this).attr("class", " btn btn-success col-md-12");
              }

              else{
                 $(this).attr("class", "btn btn-danger col-md-12");
              }
            });

            $("#branchImage").mouseover(function(){
              $('#popOver').popover();
            });

            $("#linkcopySpan").click(function(){
              alert( $("#linkcopyInput").val() );
            });

            $('#up-arrow').click(function(){
              //window.scrollTo(0,0);
              $("html, body").animate({ scrollTop:0});
            });

            $('#down-arrow').click(function(){
              $("html, body").animate({ scrollTop: $(document).height()-$(window).height() });
            });
            document.title = "Zogue (1)";
        });
</script>

<% content_for :button_set do %>
    <% if user_signed_in? %>
       <%= render 'layouts/loggedSet' %>
    <% else %>
      <button style="margin-top:0px;" onclick="window.location.href='/users/sign_in'" class="col-md-3 btn btn-primary btn-lg" id="enterBtn">
        Enter
      </button>
    <% end %>                 
<%end%>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    <li data-target="#myCarousel" data-slide-to="5"></li>
    <li data-target="#myCarousel" data-slide-to="6"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active" style="background-color:#337ab7;">
      <div class="col-md-3"></div>
      <div class="col-md-6 zogueIntro">
         <h1 style="font-size:50px; font-weight:bold;">Welcome to <mark>Zogue</mark></h1>
      
         
         <h3>Follow us on twitter: <strong>@zoguebr</strong></h3>
         <p>
            Do you wanna interact with <mark><a href='plataform/ana'>Ana</a></mark>?
            Use the tag #zoguebr to help us detect breaking news 
         </p>
        <div id="infoLabel" class="well">
            <span>
                <%= image_tag "glyphicons_free/glyphicons/png/glyphicons-267-flag.png"%>
            </span>

            <b>Where are you?</b>
              
              <button type="button" class="btn  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Brasil
              <span class="caret"></span>
              </button>  
              
              <ul class="dropdown-menu">
                
                <li class="list-group-item ">
                      <a href="#">Portugal</a>
                </li>

                <li class="list-group-item ">
                      <a href="#">United States</a>
                </li>

                <li class="list-group-item ">
                      <a href="#">Canada</a>
                </li>             
                                
              </ul>
            
            &nbsp; &nbsp;
            <span>
                <%= image_tag "glyphicons_free/glyphicons/png/glyphicons-55-clock.png"%>
            </span>
            <b>Last Update:</b>
            <span><%= @last_update %></span>
        </div>
      </div>
      <div class="col-md-3"></div>
        
      <div class="carousel-caption"></div>
    </div>
    
       <% for c in  orderCategories(@filtered_categories) %>
          <div class="item">
            <div class="col-md-1"></div>
            <div class="col-md-9">
              <%#= image_tag headline(c.news).image(:headline) %>
              <%#= image_tag "news_image" + "/" + c.Name + "/" + headline(c.news).image_file_name%>

              <%=image_tag select_image(headline(c.news).id).image(:headline)%>

            </div>
            <div class="col-md-1"></div>
            
            <div class="carousel-caption">
               <b style="font-size:18px;">
                <%= c.Name.capitalize %>
               </b>
               <a href="<%= headline(c.news).Url %>" style="color:white;">
                <h1 class="carroselTitle"> <%= headline(c.news).Title %></h1>
               </a>
            </div>
          </div>
       <% end %>
  </div>
  
  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span  aria-hidden="true">
        <%= image_tag "glyphicons_free/glyphicons/png/glyphicons-211-arrow-left.png"%>
    </span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span  aria-hidden="true">
        <%= image_tag "glyphicons_free/glyphicons/png/glyphicons-212-arrow-right.png"%>
    </span>
    <span class="sr-only">Next</span>
  </a>

</div>

<div class="row">
  <div style="text-align:center; margin-top:10px;" >
    <% if user_signed_in?%>
     <% if current_user.is_admin == true%>
        <%= link_to 'Create a new', new_news_path, :class => "btn btn-success", :style=>"color:white;" %>
      <%end%>
    <%end%>
    <br/>
  </div>
</div>

<% content_for :footer do %>
   <div class="col-md-1"></div>            
   <div class="col-md-10" class="navigationHelper">
       
      <button id="up-arrow" class="btn arrBtn">
         <%= image_tag "up-arrow.png", :class=> "arr" %>
      </button>
      
      <% for c in orderCategories(@filtered_categories) %>
          <% if !c.news.blank?%>
              <a href="#h1-<%=c.Name%>" class="btn arrow">
                  <%= c.Name[0..2].capitalize%>
              </a>
          <%end%>
      <%end%>

      <button id="down-arrow" class="btn arrBtn">
        <%= image_tag "down-arrow.png", :class=> "arr" %>
      </button>
   </div>
   <div class="col-md-1"></div> 
<%end%>


<div class="row">
  <div class="col-md-1"></div>
   <div class="col-md-10"> 
    
   <% for c in orderCategories(@filtered_categories) %>
    <div id = "<%=c.id%>-superHolder" class="row">
      <% if !c.news.blank?%>
            <h1 id="h1-<%=c.Name%>">
              <a id="categoryLabel" href="categories/<%=c.id%>">
                  <%= c.Name.capitalize %>
              </a>
            </h1>

            <div class="row">
              <div class="col-md-6">
                <em>
                  <%= count_spare(c.id)%>
                </em>

              </div>

              <div class="col-md-6"></div>
            </div>
                        
            <% for x in filtertodayNews(c.news) %> 
              <%= render :partial => "news/new", locals: {:x => @news.find(x.id)} %>
            <%end%>
            
      <%else%>
        <h1>No new to display :(</h1>
      <%end%>

    </div>
   <%end%>
   </div>
   <div class="col-md-1"></div>
</div>