<div class="col-md-1"></div>

<div class="col-md-10 well">
	<div class="row">
		<h1>Pictures</h1>
		<p>
		  In this page you can help us to grow our image database. Our system
		  has a name patter for images, so follow this rules:

		  <ol>
		  	<li>
		  		The extension of image <b>should</b> be <b>.jpg</b>
		  	</li>
		  </ol>
		</p>
		<hr/>
	</div>

	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">			
			<%= form_tag("/uploadPictures", method: "put", :style => "text-align:center;") do %>
			     <h2>Upload a file</h2>

			     <p>Category Name</p>
			     <p>
			     <%= select("new", "category", @categories_name, :class => "form-control")  %>
			     </p>

			     <p>
			    	 <%= file_field_tag 'upload[file]' %>
			     </p>

			     <p>
			     	<%= submit_tag("Upload", :class => "btn btn-primary") %>
				 </p>
			<% end %>
		</div>	
		<div class="col-md-3"></div>
	</div>


</div>

<div class="col-md-1"></div>