

<script>
  $(function(){

    var initial_text = $(".new-text").text();
    initial_text = $.trim(initial_text);

    $(initial_text[0]).wrap("<span style='color:red;'></span>");
   
  });

</script>

<% content_for :button_set do %>
    <% if user_signed_in? %>
       <%= render 'layouts/loggedSet' %>
    <% else %>
      <button onclick="window.location.href='/users/sign_in'" class="col-md-3 btn btn-primary btn-lg" id="enterBtn">
        Enter
      </button>
    <% end %>                 
<%end%>


<div class="col-md-1"></div>
<div class="col-md-8 panel panel-default">
  <div class="panel-body">
    <p id="notice"><%= notice %></p>
    
    <h1><%= @category_name.Name.capitalize%></h1>
    <hr/>
    <h2><%= @news.Title %></h2> 
    
    <div class="row">
      <div class="col-md-4">
         <strong>Language:</strong> Brazilian Portuguease
      </div>

      <div class="col-md-4">
        <strong>Written at:</strong> <%= @news.created_at %> 
      </div>

      <div class="col-md-4">
          <strong>Updated at:</strong> <%= @news.updated_at %>
      </div>

    </div>

      <div>
        <%= image_tag @news.image.url, :class => "showimageNew img-thumbnail" %>
        <blockquote>
          <p>
            Foto tirada por <a href="#">usuario</a>
          </p>
       </blockquote>
      </div>

      <p class="new-text">
        <%= @news.Text %>
      </p>

    <div>
      <div class="col-md-4">
        <strong>Written By:</strong> <%= @news.Author %>
      </div>

      <div class="col-md-4">
         <strong>Views:</strong> 100
      </div>

      <div class="col-md-4">
         <a href="<%= @news.Url %>">Visit website</a>
      </div>
    </div>
  </div>
</div>
 

<div class="col-md-3">
  <div class="panel panel-success">
     <div class="panel-heading">Share</div>
     <div class="panel-body">
      <p>
      </p>
     </div>
  </div>

   <div class="panel panel-success">
     <div class="panel-heading">Options</div>
     <div class="panel-body">
        <%= link_to 'Edit', edit_news_path(@news) %> |
        <%= link_to 'Back', news_index_path %>
     </div>
  </div>

</div>