
$(function(){

	//alert("<%= @news.Url %>");

	var win = window.open('<%= @news.Url %>', '_blank');
	if (win) {
    	//Browser has allowed it to be opened
    	win.focus();
	} 

	else {
    	//Browser has blocked it
    	alert('Please allow popups for this website');
	}
});
