
<div class="col-md-4"></div>
<div class="col-md-4 well centralizeVertical">
  <h2><u>Log in</u></h2>


  <%= devise_error_messages! %>

  <%= form_for(resource, :validates => true, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, :class => "form-control" %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field submitHolder">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="actions submitHolder">
      <%= f.submit "Log in", :class => "btn btn-primary btn-lg" %>
    </div>

  <% end %>

  <hr/>
  <%= render "users/shared/links" %>
</div>


<div class="col-md-4"></div>