
<div class="row">
	<div class="col-md-4"></div>

	<div class="col-md-4 well centralizeVertical">
		<h2>Forgot your password?</h2>

		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		  <%= devise_error_messages! %>

		  <div class="field">
		    <%= f.label :email %><br />
		    <%= f.email_field :email, autofocus: true, :class => "form-control" %>
		  </div>

		  <div class="actions" style="text-align:center;">
		    <%= f.submit "Send me reset password instructions", :class => "btn btn-primary" %>
		  </div>
		<% end %>

		<%= render "users/shared/links" %>
	</div>


	<div class="col-md-4"></div>
</div>